<p class="text-center text-muted" *ngIf="!animais.length">Não há animais para mostrar.</p>

<div class="row">
  <div class="col-4" *ngFor="let animal of animais">
    <a [routerLink]="['/animais', animal.id]">
      <app-cartao>
        <app-animal
        [url]="animal.url"
        [descricao]="animal.description"
        ></app-animal>
        <i class="fa fa-heart-o fa-1x mr-2" aria-hidden="true">{{animal.likes}}</i>
        <i class="fa fa-comment-o fa-1x mr-2 ml-2" aria-hidden="true">{{animal.comments}}</i>
      </app-cartao>
    </a>
  </div>
</div>
