<div
  appKeyboardManager
  role="radiogroup"
  [attr.aria-labelledby]="id"
  class="button-group">
  <label [attr.id]="id" class="label">{{ label }}</label>
  <button
    appKeyboardManagedItem
    (focused)="activate(options.YES)"
    role="radio"
    [attr.aria-checked]="value === options.YES"
    [attr.tabindex] = "value === options.YES || value === null ? 0 : -1"
    type="button"
    class="button button-yes"
    [class.button-pressed]="value === options.YES"
    (click)="activate(options.YES)">
    Yes
  </button>
  <button
    appKeyboardManagedItem
    (focused)="activate(options.NO)"
    role="radio"
    [attr.aria-checked]="value === options.NO"
    [attr.tabindex] = "value === options.NO ? 0 : -1"
    tabindex="-1"
    type="button"
    class="button button-no"
    [class.button-pressed]="value === options.NO"
    (click)="activate(options.NO)">
    No
  </button>
</div>
